 body{
    background-color: grey;
    font-family: 'Special Elite', cursive;
}
.header_div{
font-size: 12px;
    font-weight: bold;
    font-family: 'Special Elite', cursive;;
    letter-spacing: 2px;
    color: white;
    background-color: darkslategrey;
}
.main_div button{
    margin-top: 30px;
    font-family: 'Special Elite', cursive;
    letter-spacing: 3px;
    font-weight: bolder;
    width: 130px;
}
.copy_right_footer{
    color: black;
    font-size: 18px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color:darkslategrey;
    line-height: 3;
}
h4{
    font-size: 25px;
}